POSTGRES_CONTAINER_NAME=edusphere_postgres
POSTGRES_HOST=localhost
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# Puerto donde escucha la API Express (capa de aplicación)
PORT=3000

MONGO_CONTAINER_NAME=edusphere_mongo
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=
MONGO_PORT=