POSTGRES_CONTAINER_NAME=edusphere_postgres
POSTGRES_HOST=localhost
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# Puerto donde escucha la API Express (capa de aplicación)
PORT=3000

# Autenticación (JWT). Pon una cadena larga y aleatoria como secreto.
JWT_SECRET=
JWT_EXPIRES=8h

MONGO_CONTAINER_NAME=edusphere_mongo
MONGO_HOST=localhost
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
MONGO_INITDB_DATABASE=
MONGO_PORT=
# (Opcional) Cadena completa; si se define, ignora las variables MONGO_* de arriba.
# MONGO_URI=mongodb://usuario:password@localhost:27017/edusphere?authSource=admin